# tdls assets
.classpath
.factorypath
.project
.settings

# build assets
.gradle
app/build
.DS_Store
app/src/test/data/pds3/**/*.xml
app/src/test/data/pds3/**/*.xml.err
app/src/test/data/pds3/**/*.xml.report
