# tdls assets
.classpath
.factorypath
.project
.settings

# build assets
.gradle
app/build
.DS_Store
data/delivery_32/*.xml
data/delivery_32/*.xml.err
data/delivery_32/*.xml.report
app/src/test/data/pds3/rda/*.xml
app/src/test/data/pds3/rda/*.xml.err
app/src/test/data/pds3/rda/*.xml.report
app/src/test/data/pds3/re1/*.xml
app/src/test/data/pds3/re1/*.xml.err
app/src/test/data/pds3/re1/*.xml.report
app/src/test/data/pds3/min/*.xml
app/src/test/data/pds3/min/*.xml.err
app/src/test/data/pds3/min/*.xml.report
