<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<Product_Observational>
  <Identification_Area>
    <logical_identifier>
      $label.LogicalIdentifier
    </logical_identifier>
  </Identification_Area>
</Product_Observational>
