#set($source_product_version = $label.ProductVersionId)
#if ($source_product_version.substring(0,1).toLowerCase() == "v")
#set($source_product_version = $source_product_version.substring(1))
#end
<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<?xml-model href="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1J00.sch" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="https://pds.nasa.gov/pds4/mission/msl/v1/PDS4_MSL_1J00_1100.sch" schematypens="http://purl.oclc.org/dsdl/schematron"?>

<Product_Observational xmlns="http://pds.nasa.gov/pds4/pds/v1"
    xmlns:msl="http://pds.nasa.gov/pds4/mission/msl/v1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pds.nasa.gov/pds4/pds/v1 https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1J00.xsd http://pds.nasa.gov/pds4/mission/msl/v1 https://pds.nasa.gov/pds4/mission/msl/v1/PDS4_MSL_1J00_1100.xsd">
  <Identification_Area>
    <logical_identifier>urn:nasa:pds:msl_chemin_derived:data_chemin_rda:$label.LogicalIdentifier</logical_identifier>
    <version_id>$source_product_version</version_id>
    <title>MSL CheMin diffraction-all K-alpha diffraction data </title>
    <information_model_version>1.19.0.0</information_model_version>
    <product_class>Product_Observational</product_class>
    <Modification_History>
      <Modification_Detail>
        <modification_date>$label.ProductCreationDate</modification_date>
        <version_id>$source_product_version</version_id>
        <description>Initial PDS4 version of this product.</description>
      </Modification_Detail>
      #if ($label.isRevision())
      <Modification_Detail>
        <modification_date>$label.ModificationDate</modification_date>
        <version_id>$source_product_version</version_id>
        <description>$label.ModificationDescription</description>
      </Modification_Detail>
      #end
    </Modification_History>
  </Identification_Area>
  <Observation_Area>
    <Time_Coordinates>
      #set($start_time = $label.getStartTime() + "Z")
      <start_date_time>$start_time</start_date_time>
      #if ($label.getStopTime() != "UNK")
      #set($stop_time = $label.getStopTime() + "Z")
      <stop_date_time>$label.getStopTime()</stop_date_time>
      #else
      <stop_date_time nilReason="unknown" xsi:nil="true"/>
      #end
    </Time_Coordinates>
    <Primary_Result_Summary>
      <purpose>Science</purpose>
      <processing_level>Derived</processing_level>
      <description>Data from the MSL CheMin Instrument.</description>
    </Primary_Result_Summary>
    <Investigation_Area>
      <name>$label.InstrumentHostName</name>
      <type>Mission</type>
      <Internal_Reference>
        <lid_reference>urn:nasa:pds:context:investigation:mission.mars_science_laboratory</lid_reference>
        <reference_type>data_to_investigation</reference_type>
      </Internal_Reference>
    </Investigation_Area>
    <Observing_System>
      <name>$label.InstrumentHostName</name>
      <Observing_System_Component>
        <name>$label.InstrumentHostName</name>
        <type>Host</type>
        <Internal_Reference>
          <lid_reference>urn:nasa:pds:context:instrument_host:spacecraft.msl</lid_reference>
          <reference_type>is_instrument_host</reference_type>
        </Internal_Reference>
      </Observing_System_Component>
      <Observing_System_Component>
        <name>CHEMISTRY AND MINERALOGY INSTRUMENT</name>
        <type>Instrument</type>
        <Internal_Reference>
          <lid_reference>urn:nasa:pds:context:instrument:chemin.msl</lid_reference>
          <reference_type>is_instrument</reference_type>
        </Internal_Reference>
      </Observing_System_Component>
    </Observing_System>
    <Target_Identification>
      <name>$label.TargetName</name>
      <type>Planet</type>
      <Internal_Reference>
        <lid_reference>urn:nasa:pds:context:target:planet.$label.TargetName.toLowerCase()</lid_reference>
        <reference_type>data_to_target</reference_type>
      </Internal_Reference>
    </Target_Identification>
    <Mission_Area>
      <msl:MSL_Parameters>
        <msl:Observation_Information>
          <msl:release_number>$label.ReleaseId</msl:release_number>
          <msl:product_type>$label.ProductType</msl:product_type>
          <msl:mission_phase_name>$label.MissionPhaseName</msl:mission_phase_name>
          <msl:product_version_id>$label.ProductVersionId</msl:product_version_id>
          <msl:spacecraft_clock_start>$label.SpacecraftClockStartCount</msl:spacecraft_clock_start>
          <msl:sol_number>$label.SolNumber</msl:sol_number>
        </msl:Observation_Information>
      </msl:MSL_Parameters>
    </Mission_Area>
  </Observation_Area>
  <Reference_List>
    <Internal_Reference>
      <lid_reference>urn:nasa:pds:msl_chemin_derived:document:chemin_rdr_sis</lid_reference>
      <reference_type>data_to_document</reference_type>
    </Internal_Reference>
    <Internal_Reference>
      <lid_reference>urn:nasa:pds:msl_chemin_derived:document:chemin_pds4_notes</lid_reference>
      <reference_type>data_to_document</reference_type>
    </Internal_Reference>
    <Source_Product_Internal>
      #foreach ($product_id in $label.SourceProductId)
      <lidvid_reference>urn:nasa:pds:msl_chemin_raw:data:$product_id.toLowerCase()::$source_product_version</lidvid_reference>
      #end
      <reference_type>data_to_raw_source_product</reference_type>
      <comment>This is a reference to a data file corresponding to this data.</comment>
    </Source_Product_Internal>
  </Reference_List>
  <File_Area_Observational>
    <File>
      <file_name>$label.ObjectLinks["SPREADSHEET"].Filename.toLowerCase()</file_name>
      <creation_date_time>$label.ProductCreationTime</creation_date_time>
    </File>
    <Header>
      <offset unit="byte">0</offset>
      <object_length unit="byte">$label.Objects["HEADER"].Bytes</object_length>
      <parsing_standard_id>7-Bit ASCII Text</parsing_standard_id>
      <description>Column headings</description>
    </Header>
    <Table_Delimited>
      <offset unit="byte">$label.Objects["HEADER"].Bytes</offset>
      <parsing_standard_id>PDS DSV 1</parsing_standard_id>
      <description>$label.Objects["SPREADSHEET"].getWrappedDescription(120, "      ")</description>
      <records>$label.Objects["SPREADSHEET"].Rows</records>
      <record_delimiter>Carriage-Return Line-Feed</record_delimiter>
      #set($delimiter = $label.Objects["SPREADSHEET"].FieldDelimiter)
      #set($delimiter = $delimiter.substring(0,1).toUpperCase() + $delimiter.substring(1).toLowerCase())
      <field_delimiter>$delimiter</field_delimiter>
      <Record_Delimited>
        #set($fields = $label.Objects["SPREADSHEET"].Structure.Objects)
        <fields>$fields.size()</fields>
        <groups>0</groups>
        #foreach ($i in [1 .. $fields.size()])
        #set($field = $fields.get($i - 1))
        <Field_Delimited>
          <name>$field.Name</name>
          <field_number>$i</field_number>
          <data_type>$field.DataType</data_type>
          <maximum_field_length unit="byte">$field.Bytes</maximum_field_length>
          #if (!$field.Unit.toLowerCase().equals("text"))
          <unit>$field.Unit.toLowerCase()</unit>
          #end
          #if ($field.Description)
          <description>$field.Description</description>
          #else
          <description>$field.Name</description>
          #end
        </Field_Delimited>
        #end
      </Record_Delimited>
    </Table_Delimited>
  </File_Area_Observational>
  <File_Area_Observational_Supplemental>
     <File>
       <file_name>$label.Filename.toLowerCase()</file_name>
     </File>
     <Stream_Text>
       <offset unit="byte">0</offset>
       <parsing_standard_id>PDS3</parsing_standard_id>
       <description>Original PDS3 label</description>
       <record_delimiter>Carriage-Return Line-Feed</record_delimiter>
     </Stream_Text>
  </File_Area_Observational_Supplemental>
</Product_Observational>
